*.iml
.gradle
/.gradle
.idea
/.idea
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/xml/backup_rules.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]2/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]3/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]4/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]5/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]6/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]7/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]8/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]9/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]10/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]11/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]12/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]13/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]14/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]15/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]16/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]17/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_2.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_3.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_4.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_5.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_6.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_7.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_8.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_9.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_10.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_11.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_12.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_13.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_14.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_15.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_16.xml
/.idea/shelf/Uncommitted_changes_before_rebase__DONOT_COMMIT_17.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[DONOT_COMMIT]17/shelved.patch
